SECRET_KEY=your-secret-key-here
ABACATE_PAY_API_KEY=your-abacate-pay-api-key-here
ABACATE_PAY_WEBHOOK_SECRET=your-abacate-pay-webhook-secret-here
APP_URL=http://localhost:8000

DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=your_secure_password